body {
    background-color: lightblue;
        background-image: url(../images/background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        font-family: 'Space Mono';font-size: 22px;

    }

p {
    color: white;
}

h1 {
    color: white;
}

div#stats {
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 10px;
    padding-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-family: 'Space Mono';font-size: 22px;
}

div#characterSelect {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.character {
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 20px 0px 20px;
}

div#yourCharacterDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div#enemySelect {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.enemy {
    float: left;
}

#defenderDiv {
    
}

div#luke {
    background-color: green;
    order: 1;
}

div#obiWan {
    background-color: blue;
    order: 2;
}

div#sidious {
    background-color: darkgray;
    order: 3;
}

div#maul {
    background-color: red;
    order: 4;
}

div.characterPicDiv {
    height: 200px;
    width: 200px;
    background-color: lightgray;
}

img.characterPic {
    height: 200px;
    width: 200px;
}

p.hpStats {
    text-align: center;
}

h1.center {
    text-align: center;
}